@use '@angular/material' as mat;
@use 'assets/themes/sfms-theme';

@include mat.core();

$sfms-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$blue-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: (brand-family: sfms-theme.$sfms-font-family,
        plain-family: sfms-theme.$sfms-font-family )));

@include mat.all-component-themes($sfms-theme);

html,
body {
  height: 100%;
  margin: 0;
  font-family: sfms-theme.$sfms-font-family;
  background-color: sfms-theme.$sfms-color-background;
}